.Navbar{
    height: 230px;
    display: flex;
    justify-content: space-between;
    background-image: url("tackrack.jpg");
    background-size: cover;

}

body {
    background-color: white;
    padding: 15px;
    margin: 0;
  }

.nav-buttons{
    padding-top: 7%;
    display: flex;
    
}

.logo{
    height: 62px;
    margin-top: 80px;
    
}

.header{
    display: flex;
    list-style: none;
    padding: 18px;
    font-weight: 700;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 30px;
    background-color: rgba(96,106,106,0.42);
    position: absolute;
    margin:80px 201px;
    
    
    
}

.active {
    background-color: black;
    color:blanchedalmond;
  }

  .Home{
      color: black;
      position: absolute;
      margin-top: 150px;
      padding: 20px;
      margin-left: -220px;
      
  }

  .Firearms{
    color: black;
    position: absolute;
    margin-top: 200px;

  }

  .Shop{
    color: black;
    position: absolute;
    margin-top: 200px;

  }

  .Contact{
    color: black;
    position: absolute;
    margin-top: 200px;
  }

  .TackRack{
    color: black;
    position: absolute;
    margin-top: 200px;
  }

  .Banner{
    background-image: url("Banner.jpeg");
    background-size:cover;
    width: 1250px;
    border: 1px solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    
  }

  .BannerContent1, .BannerContent2{
  
    padding-left: 10px;
    padding-right: 5px;

  }



